{% extends 'App2/base.html' %}

{% load static %}

{% block title %}
    Buscar Producto
{% endblock title %}

{% block codigoDinamico %}

<div class="container">
    <br> <br> <br>
    <form action="" method="get">
        <input type="text" name="marca_producto" id="marca_producto" placeholder= "buscar marca_producto">  <!--texto ayuda dentro campò busqueda-->
        <br> <br> <br>
        <input type="submit" value="Buscar x Marca producto" class="btn btn-outline-light">

    </form>
    <br> <br> <br>
{% if Producto %}

    {% for productos in Producto %}
    <table class="table table-hover">
                <tbody>
                    <th scope="col">Marca_Producto</th>
                    <th scope="col">Id</th>
                    <th scope="col">Nombre_Poducto</th>
                    <tr class="table-info">
                        <td>  {{ productos.marca_producto }}</td>
                        <td>  {{ productos.id }}</td>
                        <td>  {{ productos.nombre_producto }}</td>
                    
                <tbody>
            </table>
            {% endfor %}
        {% else %}
        
            <h3>No hay datos.</h3>
        
        {% endif %}
    
</div>

{% endblock %}