{% extends 'App2/base.html' %}

{% load static %}

{% block title %}
    Politica de privacidad
{% endblock title %}

{% block codigoDinamico %}
<div class="container">
    <h1>Politica de privacidad</h1>
    <p>
    1. Introducción
    Bienvenido a [Nombre de tu empresa] ("nosotros", "nuestro"). Esta Política de Privacidad explica cómo recopilamos, usamos, compartimos y protegemos la información personal que obtienes cuando utilizas nuestro sitio web y servicios relacionados. Al utilizar nuestro sitio web, aceptas las prácticas descritas en esta política.
    </p>
    <p>
    2. Información que Recopilamos.
    Información Personal: Recopilamos información personal que nos proporcionas al registrarte en nuestra plataforma, realizar una compra, o contactarnos. Esto incluye tu nombre, dirección de correo electrónico, dirección de envío y detalles de pago.
    Información de Uso: Recopilamos información sobre cómo utilizas nuestro sitio web, incluyendo tu dirección IP, navegador, páginas visitadas, y el tiempo que pasas en ellas.
    Cookies y Tecnologías Similares: Utilizamos cookies para mejorar tu experiencia en nuestro sitio web y para analizar el tráfico web.
    </p>
    <p>
    3. Uso de la Información
    Usamos tu información personal para:
    Procesar y gestionar tus pedidos.
    Enviarte información sobre tus pedidos y actualizaciones.
    Mejorar nuestro sitio web y servicios.
    Enviarte comunicaciones promocionales y boletines informativos, si has dado tu consentimiento.
    </p>
    <p>
    4. Compartición de la Información
    No vendemos, alquilamos ni compartimos tu información personal con terceros, excepto en los siguientes casos:
    Proveedores de Servicios: Podemos compartir tu información con proveedores de servicios que nos ayudan a operar nuestro negocio, como servicios de pago y envío.
    Requisitos Legales: Podemos divulgar tu información si lo requiere la ley o en respuesta a procesos legales.
    <p/>
    <p>
    5. Seguridad
    Implementamos medidas de seguridad para proteger tu información personal. Sin embargo, ninguna transmisión de datos por Internet puede ser completamente segura, y no podemos garantizar la seguridad absoluta.
    </p>
    <p>
    6. Derechos del Usuario
    Tienes derecho a acceder, corregir o eliminar la información personal que tenemos sobre ti. Puedes hacerlo contactándonos a través de [correo electrónico de contacto].
    </p>
    <p>
    7. Cambios en la Política de Privacidad
    Podemos actualizar esta política en el futuro. Te notificaremos sobre cualquier cambio mediante la publicación de la nueva política en nuestro sitio web. Te recomendamos revisar esta política periódicamente.
    </p>
    <p>
    8. Contacto
    Si tienes preguntas sobre esta Política de Privacidad, puedes contactarnos en [correo electrónico de contacto] o en [dirección física].
    </p>
</div>
{% endblock %}