{% extends 'App2/base.html' %}

{% load static %}

{% block title %}
    Terminos y Condiciones
{% endblock title %}

{% block codigoDinamico %}
<div class="container">
    <h1>Terminos y condiciones</h1>
    <p>1. Aceptación de los Términos
        Al acceder y utilizar nuestro sitio web y servicios, aceptas cumplir con estos Términos y Condiciones y con nuestra Política de Privacidad. Si no estás de acuerdo con estos términos, no utilices nuestro sitio web.
    </p>
    <p>
    2. Uso del Sitio Web
    Licencia: Te otorgamos una licencia limitada, no exclusiva e intransferible para utilizar nuestro sitio web y servicios para fines personales y no comerciales.
    Prohibiciones: No puedes utilizar nuestro sitio web para actividades ilegales, infringir derechos de propiedad intelectual, o transmitir contenido que sea ofensivo, difamatorio o perjudicial.
    </p>
    <p>
    3. Compra de Productos
    Precios y Pagos: Todos los precios están sujetos a cambios y se reflejan en el sitio web. Aceptamos los métodos de pago indicados en el proceso de compra.
    Envío y Entregas: Nos esforzamos por cumplir con los plazos de entrega, pero no garantizamos fechas exactas. Los gastos de envío son responsabilidad del comprador, a menos que se indique lo contrario.
    </p>
    <p>
    4. Propiedad Intelectual
    Todo el contenido del sitio web, incluidos los textos, gráficos, logos, imágenes y software, es propiedad de [Nombre de tu empresa] o de terceros y está protegido por derechos de autor y otras leyes de propiedad intelectual.
    </p>
    <p>
    5. Exención de Responsabilidad
    Nuestro sitio web y servicios se proporcionan "tal cual" y "según disponibilidad". No garantizamos que el sitio esté libre de errores o interrupciones, ni que la información proporcionada sea precisa o completa. No somos responsables de los daños que puedan resultar del uso del sitio web o de la imposibilidad de utilizarlo.
    </p>
    <p>
    6. Modificaciones del Servicio
    Nos reservamos el derecho de modificar o interrumpir el sitio web y los servicios en cualquier momento, sin previo aviso.
    </p>
    <p>
    7. Ley Aplicable
    Estos Términos y Condiciones se rigen por las leyes de [jurisdicción aplicable]. Cualquier disputa relacionada con estos términos se resolverá en los tribunales de [jurisdicción aplicable].
    </p>
    <p>
    8. Contacto
    Si tienes preguntas sobre estos Términos y Condiciones, puedes contactarnos en [correo electrónico de contacto] o en [dirección física]
    </p>
</div>
{% endblock %}