{% extends 'App2/base.html' %}

{% load static %}

{% block title %}
    Ventas-Detalles
{% endblock title %}

{% block codigoDinamico %}

<div class="container">
    <h1> Ventas-detalles: </h1>
{% for ventas_detalles in ventas_detalles %}

    <div class="container">
        <table class="table table-hover text-center">
            <tbody>
                <th scope="col">Id</th>
                <th scope="col">Monto</th>
                <th scope="col">Fecha_venta</th>
                <th scope="col">Forma_de_pago</th>
                <th scope="col">Producto</th>
                <th scope="col">Usuario</th>
                <tr class="table-success text-center">

                    <td>{{ ventas_detalles.id }}</td>
                    <td>{{ ventas_detalles.monto }}</td>
                    <td>{{ ventas_detalles.fecha_venta }}</td>
                    <td>{{ ventas_detalles.forma_de_pago }}</td>
                    <td>{{ ventas_detalles.producto }}</td>
                    <td>{{ ventas_detalles.usuario }}</td>
                                    
                </tr>
                    
            </tbody>
        </table> 
        <div class="container">
            <button type="button" class="btn btn-outline-success">
                <a href="{% url 'crear Ventas_detalles' %}">Nueva Venta Detalles</a>
            </button> &nbsp; &nbsp; &nbsp;
            <button type="button" class="btn btn-outline-light">
                <a href="{% url 'Buscar ventas_detalles' %}">Buscar Ventas_detalles</a>
            </button> &nbsp;&nbsp;
            <button type="button" class="btn btn-outline-danger">
                <a href="{% url 'Eliminar Ventas detalles' ventas_detalles_id=ventas_detalles.id %}">Eliminar Ventas detalles</a>
            </button> &nbsp;&nbsp;
            <button type="button" class="btn btn-outline-info">
                <a href="{% url 'Actualizar Ventas detalles' ventas_detalles_id=ventas_detalles.id %}">Actualizar Ventas detalles</a>
            </button>
        </div>   
    </div>
</div>
{% endfor %}


{% endblock %}